In [ ]:
# 상속

In [22]:
class Person(object):
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def __str__(self):
        return "저의 이름은 {0} 입니다. 나이는 {1} 입니다.".format(
            self.name, self.age
        )

In [23]:
class Korean(Person):
    pass

In [24]:
first_korean = Korean("Dongjun", 25)
print(first_korean)

저의 이름은 Dongjun 입니다. 나이는 25 입니다.

In [25]:
class Person():
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender
    
    def about_me(self):
        print("저의 이름은 ", self.name, "이구요, 제 나이는 ", str(self.age), 
        "살 입니다.")

In [26]:
class Employee(Person):
    def __init__(self, name, age, gender, salary, hire_date):
        super().__init__(name, age, gender)
        self.salary = salary
        self.hire_date = hire_date

    def do_work(self):
        print("열심히 일을 합니다.")

    def about_me(self):
        super().about_me()
        print("제 급여는 ", self.salary, "원 이구요, 제 입사일은 ",
        self.hire_date, " 입니다.")

In [27]:
myPerson = Person("Dongjun", 25, "Male")
myPerson.about_me()

저의 이름은  Dongjun 이구요, 제 나이는  25 살 입니다.

In [28]:
myEmployee = Employee("Dongjun", 25, "Male", 30000, "2021.09.06")
myEmployee.about_me()

저의 이름은  Dongjun 이구요, 제 나이는  25 살 입니다.
제 급여는  30000 원 이구요, 제 입사일은  2021.09.06  입니다.